<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/859aba53-8fbb-4938-ae93-a2cac249f7e8/resourceGroups/spydomo-worker_group/providers/Microsoft.Web/sites/spydomo-worker</ResourceId>
    <ResourceGroup>spydomo-worker_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://spydomo-worker-ejdyfpdxavb8hyfe.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>38b35b2f-407d-45d5-9fde-2ba79671f21a</ProjectGuid>
    <PublishUrl>https://spydomo-worker-ejdyfpdxavb8hyfe.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <AppServiceStartupCommand>sh -c "cp /home/site/wwwroot/certs/brightdata.crt /usr/local/share/ca-certificates/brightdata.crt; update-ca-certificates; exec dotnet Spydomo.Worker.dll"</AppServiceStartupCommand>
  </PropertyGroup>
</Project>